* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.card {
    width: 90%;
    max-width: 400px;
    background: rgb(77, 107, 157);
    color: #fff;
    border-radius: 25px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.date {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 20px;
    flex: 1;
    margin-right: 10px;
    background-color: #ebffff;
    color: #333;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebffff;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
}

.search button img {
    width: 30px; 
    height: 30px; 
}

.weather-icon {
    margin: 20px 0;
    width:170px;
    margin-left: 50px;
}

.temp {
    font-size: 40px;
}

.weather-info {
    margin: 10px 0;
}

.details {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.col {
    text-align: center;
}

#hourly-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hourly {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px;
    flex: 1;
    text-align: center;
}